@use 'scss/components/components' as *;
@use 'scss/utils/utils' as *;

.menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100vw;
  min-height: 100vh;
  transform: translateX(105%);
  @include transition-add('transform');
  z-index: 900;

  &__show {
    transform: translateX(-100%);
  }
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 240px;
  height: 100%;
  padding: 15px;
  background-color: var(--bg-secondary);
  box-shadow: -8px 0 16px var(--border-primary);
  @include flex-display(column, 45px, null, center);

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}

.nav {
  width: 100%;
  @include flex-display(column, 20px);
  @include font-type(700, 18px, 1, 0.06em);
  color: white;
  text-shadow: var(--textShadow-primary);

  &__link {
    position: relative;

    &:not(:first-of-type)::before {
      content: '';
      position: absolute;
      width: 100%;
      top: -10px;
      border: 1px solid var(--bg-primary);
    }

    &:hover,
    &:focus {
      color: var(--link-secondary);
    }
  }

  &__active {
    color: var(--link-secondary);
  }
}
